<div class="page-header">
  <h3>Floorplan #<%= @floorplan.id %></h3>
</div>

<div class="row">
  <div class="col-md-12">
    <dl class="dl-horizontal">
      <dt>Image</dt>
      <dd><%= @floorplan.image %></dd>

      <dt>Client approved</dt>
      <dd><%= @floorplan.client_approved %></dd>

      <dt>Project</dt>
      <dd><%= @floorplan.project_id %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/floorplans" class="btn btn-primary">
        Back
      </a>
      <a href="/floorplans/<%= @floorplan.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_floorplan/<%= @floorplan.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
