<div class="page-header">
  <h3><%= @project.project_name %></h3>
  <p><i>Current Status: <%= @project.project_status %></i></p>
</div>

<div class="row">
  <div class="col-md-6">
    <dl class="dl-horizontal">
      <dt>Project Name</dt>
      <dd><%= @project.project_name %></dd>

      <dt>Room Type</dt>
      <dd><%= @project.room_type %></dd>

      <dt>Designer Name</dt>
      <dd><%= @project.users.where({ :designer => true }).pluck(:username)[0].capitalize %></dd>

      <dt>Favorite Style</dt>
      <dd><%= @project.favorite_style %></dd>

      <dt>Budget</dt>
      <dd><%= @project.budget %></dd>

      <dt>Notes</dt>
      <dd><%= @project.notes %></dd>
    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/my_projects" class="btn btn-primary">
        Back
      </a>
      <a href="/projects/<%= @project.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <% if current_user.designer? %>
        <a href="/delete_project/<%= @project.id %>" class="btn btn-danger" rel="nofollow">
          Delete
        </a>
      <% end %>
    </div>
  </div>
  <div class="col-md-6">
    <% @project.floorplans.each do |floorplan| %>
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          Designed by: <%= floorplan.project.users.where({ :designer => true }).pluck(:username)[0].capitalize %>
          <small>
            <%= time_ago_in_words(floorplan.created_at) %> ago
          </small>
        </h3>
      </div>

      <div class="panel-body">

        <img src="<%= floorplan.image %>" height = 400px class="img-responsive">

        <p></p>

        <div class="panel panel-default">
          <div class="panel-body text-center">
            <div class="btn-group" role="group" aria-label="">
              <a href="TBD" class="btn btn-success">&nbsp&nbsp&nbsp&nbspI Approve&nbsp&nbsp&nbsp&nbsp</a>
            </div>
            <div class="btn-group" role="group" aria-label="">
              <a href="TBD" class="btn btn-danger">Needs More Work</a>
            </div>
          </div>
        </div>

        <ul class="media-list">
          <% floorplan.comments.each do |comment| %>

          <li class="media">
            <div class="media-body">
              <h6 class="media-heading">
                <%= comment.user.username %></a>
                <small>
                  <%= time_ago_in_words(comment.created_at) %> ago
                </small>
                <% if comment.user.id == current_user.id %>
                  <small class="pull-right">
                    <a href="/delete_comment/<%= comment.id %>">Delete Comment</a>
                  </small>
                <% end %>
              </h6>
              <%= comment.comment %>
            </div>
          </li>
          <% end %>

          <li class="media">
            <div class="media-body">
              <form action="/create_comment" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

                <input type="hidden" name="floorplan_id" value="<%= floorplan.id %>">

                <input type="hidden" name="user_id" value="<%= current_user.id %>">

                <!-- Label and input for body -->
                <div class="form-group">
                  <label for="comment" class="sr-only">
                    Body
                  </label>

                  <input type="text" id="comment" name="comment" placeholder="Add a comment..." class="form-control" required>
                </div>
              </form>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <% end %>
  </div>

</div>
